{% extends 'base_auth.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Sign Up</h3>
                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        {{ form_start(registrationForm) }}
                            <div class="input__item">
                                {{ form_row(registrationForm.email) }}
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                {{ form_row(registrationForm.username) }}
                                <span class="icon_profile"></span>
                            </div>
                            

                             {# <div class="input__item  pt-5 pb-5">
                                
                                   
                                <span class="icon_lock"></span>
                            </div> #}
                            
                            
                            <div class=" input__item">
                                {{ form_row(registrationForm.birthday) }}
                                <span class="icon_calendar"></span>
                            </div>
                            <div class="input__item">
                                {{ form_row(registrationForm.plainPassword) }}
                                <span class="icon_lock"></span>
                            </div>
                            
                            <button type="submit" class="site-btn">Login Now</button>
                         {{ form_end(registrationForm) }}
                        <h5>Already have an account? <a href="#">Log In!</a></h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <h3>Login With:</h3>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With Facebook</a>
                            </li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
{% endblock %}
