{% extends "dashboard_base.html.twig" %}
{% block title %}REPORTS{% endblock %}
{% block css %}

{% endblock %}
{% block body %}
<!-- Button trigger modal -->


{% for message in app.flashes('success') %}
            {# <div class="alert alert-success">
                {{ message }}
            </div> #}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded mr-2" alt="...">
                    <strong class="mr-auto">Helas</strong>
                    <small class="text-muted">Now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{message}}
                </div>
            </div>
{% endfor %}
{% for message in app.flashes('error') %}
            {# <div class="alert alert-success">
                {{ message }}
            </div> #}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded mr-2" alt="...">
                    <strong class="mr-auto">Helas</strong>
                    <small class="text-muted">Now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{message}}
                </div>
            </div>
{% endfor %}

<div class="container-fluid pt-4 px-4">
<div class="col-12 mt-5" >
                        <div class="bg-secondary rounded h-100 p-4">
                        <div class="row mb-3">
                        <h6 class="mb-4 col">List Of All Reports</h6>
                            
                        </div>
                            
                            <div class="table-responsive">
                                <table class="table text-center" >
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Movie</th>
                                            <th scope="col">User</th>
                                            <th scope="col"> Content</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rows">
                                    {% for r in reports %}
                                        <tr>
                                            <th scope="row">{{r.id}}</th>
                                            <td>{{r.movie.title}}</td>
                                            <td>{{r.user.username}}</td>
                                            <td>{{r.content}}</td>
                                            
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Modal -->
                            <div class="modal fade " id="editmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog ">
                                    <div class="modal-content bg-secondary">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body ">
                                            <form action="/category/edit" method="POST">
                                            <input type="hidden" name="catid" id="catid">
                                                <div class="mb-3">
                                                    <label for="exampleInputEmail1" class="form-label">Title</label>
                                                    <input type="text" name="title" class="form-control" id="cattitle" aria-describedby="emailHelp">
                                                    <div id="emailHelp" class="form-text">This will be displayed as the category title</div>
                                                </div>
                                                <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
</div>
</div>


{% endblock %}