{% extends "dashboard_base.html.twig" %}
{% block title %}Users{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
{% endblock %}
{% block body %}

<!-- Button trigger modal -->


{% for message in app.flashes('success') %}
            {# <div class="alert alert-success">
                {{ message }}
            </div> #}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded mr-2" alt="...">
                    <strong class="mr-auto">Helas</strong>
                    <small class="text-muted">Now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{message}}
                </div>
            </div>
{% endfor %}
{% for message in app.flashes('error') %}
            {# <div class="alert alert-success">
                {{ message }}
            </div> #}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded mr-2" alt="...">
                    <strong class="mr-auto">Helas</strong>
                    <small class="text-muted">Now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{message}}
                </div>
            </div>
{% endfor %}

<div class="container-fluid pt-4 px-4">
<div class="col-12 mt-5" >
                        <div class="bg-secondary rounded h-100 p-4">
                        <div class="row mb-3">
                        <h6 class="mb-4 col">List Of All Registred Users</h6>
                            <button class="btn btn-success  col-3 float-end" data-toggle="modal" data-target="#addCat"
                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                            >New Category</button>
                            <!-- Modal -->
                            <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog ">
                                    <div class="modal-content bg-secondary">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body ">
                                            <form action="/category/new" method="POST">
                                                <div class="mb-3">
                                                    <label for="exampleInputEmail1" class="form-label">Title</label>
                                                    <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    <div id="emailHelp" class="form-text">This will be displayed as the category title</div>
                                                </div>
                                                <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                            <div class="table-responsive">
                                <table class="table text-center" >
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">UserName</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Number Of Movies</th>
                                            <th scope="col">Enable / Disable</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rows">
                                    {% for u in users %}
                                        <tr>
                                            <th scope="row">{{u.id}}</th>
                                            <th scope="row">{{u.getName()}}</th>
                                            <td>{{u.email}}</td>
                                            <td>{{u.roles[0]}}</td>
                                            <td>5</td>
                                           
                                               <td class="text-center">
                                                    <label class="switch">
                                                        <input {{ u.isEnabled ? 'checked' : "null"}} data-id="{{ u.id }}" name="checkbox" id="activateing" type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>

                                                </td>
                                            
                                            
                                            
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        
</div>
</div>


{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
         $("body #rows").on("change", "#activateing", function() {
                    if ($(this).is(':checked')) {
                        let juge = $(this).attr("data-id");
                        //window.location.href = '/admin/activate/juge/'+juge;
                        $.ajax({
                            type: "POST",
                            url: '/user/enable',
                            data: {
                                userid: juge
                            },
                            success: function(data){
                                Swal.fire({
                                    title: 'account enabled',

                                    icon: 'success',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'ok ',
                                    showCancelButton:false
                                })
                            },
                            error: function(xhr, status, error){
                                console.error(xhr);
                            }
                        });


                    } else if ($(this).not(':checked')) {
                        let juge = $(this).attr("data-id");
                        //window.location.href = '/admin/activate/juge/'+juge;
                        $.ajax({
                            type: "POST",
                            url: '/user/disable',
                            data: {
                                userid: juge
                            },
                            success: function(data){
                                Swal.fire({
                                    title: 'Account Disables',

                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'ok ',
                                    showCancelButton:false
                                })
                            },
                            error: function(xhr, status, error){
                                console.error(xhr);
                            }
                        });
                    }


                });
    })
</script>

{% endblock %}